+b.FOOTER.mail-footer
    .container
        .row
            +b.contact-info.col-12.col-lg-4
                +e.address HALOVIETNAM LTD 66, Dang Van ngu, Dong Da Hanoi, Vietnam
                +e.A.email(href="mailto: contact@halovietnam.com") contact@halovietnam.com
                +e.A.phone(href="tel:+84435149182") +844 35149182
            +b.links.col-6.col-lg-2
                +e.UL.list
                    +e.LI.item
                        +e.A.link(href="/") Examples
                    +e.LI.item
                        +e.A.link(href="/") Shop
                    +e.LI.item
                        +e.A.link(href="/") License
            +b.links.col-6.col-lg-2
                +e.UL.list
                    +e.LI.item
                        +e.A.link(href="/") Contact
                    +e.LI.item
                        +e.A.link(href="/") About
                    +e.LI.item
                        +e.A.link(href="/") Privacy
                    +e.LI.item
                        +e.A.link(href="/") Terms
            +b.links.col-6.col-lg-2
                +e.UL.list
                    +e.LI.item
                        +e.A.link(href="/") Download
                    +e.LI.item
                        +e.A.link(href="/") Support
                    +e.LI.item
                        +e.A.link(href="/") Documents
            +b.links.col-6.col-lg-2
                +e.UL.list
                    +e.LI.item
                        +e.A.link(href="/") Media
                    +e.LI.item
                        +e.A.link(href="/") Blog
                    +e.LI.item
                        +e.A.link(href="/") Forums
