+b.SECTION.header
    .container
        .row.justify-content-between.align-items-center.align-items-md-center
            +b.header-menu.col
               +icon("header-menu__icon","menu")
            +b.A.header-logo.col(href="/")
                each object in content.logo
                    +icon("header-logo__icon", object['icon'])
                    +e.name= object['name']
            +b.UL.header-social.d-flex.justify-content-center.col-12.col-md.justify-content-md-end
                each object in content.socialList
                    +b.LI.social-item
                        +e.A.link(href="/")
                            +icon("social-item__icon", object['name'])
