extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	include index/main-banner
	include index/features
	include index/pricing
	include index/works
	include index/team
	include index/testimonial