+b.SECTION.features
    .container
        .row
            +b.H1.h1.col-12= content.featuresInfo.title
            +b.H2.h2_gray.col-12= content.featuresInfo.subtitle
        .row
            each object in content.featuresList
                +b.features-item.col-12.col-md-6.col-lg-4
                    +e.image
                        +icon("features-item__icon", object['iconName'])
                    +e.decription
                        +e.A.title(href="/")= object['title']
                        +e.subtitle= object['subtitle']