+b.SECTION.keepintuch
    .container
        .row
            +b.H1.h1.col-12= content.keepintuchInfo.title
            +b.H2.h2_gray.col-12= content.keepintuchInfo.subtitle
        .row.justify-content-center
            each object in content.keepintuchlList
                +b.keepintuch-item.col-12.col-lg-3
                    +e.image
                        +icon("keepintuch-item__icon", object['iconName'])
                    +e.title= object['title']
                    +e.info= object['info']
        .row.justify-content-center
            +b.FORM.keepintuch-form.col-12.col-md-6
                +b.INPUT.input_big._white(type="email" id="keepintuch-email" name="keepintuch-email" placeholder="Email")
                +b.INPUT.input_big._white(type="text" id="keepintuch-name" name="keepintuch-name" placeholder="Full name")
                +b.TEXTAREA.textarea_big._white(id="keepintuch-meaasge" name="keepintuch-meaasge" placeholder="Message")
                +b.BUTTON.button_big.button_black(type="submit" id="keepintuch-form-submit" name="keepintuch-form-submit") Send message