+b.SECTION.main-banner
    +b.BUTTON.button_down(type="button" id="main-banner-down-btn" name="main-banner-down-btn")
    .container
        .row
            +b.H1.h1.col-12= content.mainBanneriInfo.title
            +b.H2.h2.col-12= content.mainBanneriInfo.subtitle
            +b.BUTTON.button_big._yellow.col-10.m-auto.col-md-4(type="submit" id="getStart" name="getStart")= content.mainBanneriInfo.button