+b.SECTION.newletter
    .container
        .row
            +b.H1.h1_white.col-12 Sign up for our newsletter
            +b.H2.h2_gray.col-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        .row.justify-content-center
            +b.FORM.newletter-form.col-12
                +b.INPUT.input_fluid._white(type="email" id="newletter-email" name="newletter-email" placeholder="Enter your email to update")
                +b.BUTTON.button_middle._white(type="submit" id="newletter-submit" name="newletter-submit") SUBMIT