+b.SECTION.pricing
    .container
        .row
            +b.H1.h1.col-12= content.pricingInfo.title
            +b.H2.h2_gray.col-12= content.pricingInfo.subtitle
        .row.justify-content-center
            each object in content.pricingList
                +b.price-item.col-12.col-lg-3
                    +e.image
                        +icon("price-item__icon", object['iconName'])
                    +e.title= object['title']
                    +e.description= object['description']
                    +e.cost= object['cost']
                    +e.period= object['period']
                    +b.button_yellow._middle= object['button']
