+b.SECTION.pricing
    .container
        .row
            +b.H1.h1.col-12 Pricing And Free Trial
            +b.H2.h2_gray.col-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        .row.justify-content-center
            +b.price-item.col-12.col-lg-3
                +e.image
                    +icon("price-item__icon", "tablet")
                +e.title Basic
                +e.description Lorem ipsum dolor sit amet, consectetur adipiscing elit
                +e.cost FREE
                +e.period free forever
                +b.button_yellow._middle Get free now
            +b.price-item.col-12.col-lg-3.justify-content-center
                +e.image
                    +icon("price-item__icon", "laptop")
                +e.title Standard
                +e.description Lorem ipsum dolor sit amet, consectetur adipiscing elit
                +e.cost $99
                +e.period month
                +b.button_yellow._middle UPGRADE
            +b.price-item.col-12.col-lg-3.justify-content-center
                +e.image
                    +icon("price-item__icon", "monitor")
                +e.title Enterprise
                +e.description Lorem ipsum dolor sit amet, consectetur adipiscing elit
                +e.cost $199
                +e.period month
                +b.button_yellow._middle LEARN MORE
