+b.SECTION.team
    .container
        .row
            +b.h1.col-12= content.teamInfo.title
            +b.H2.h2_gray.col-12= content.teamInfo.subtitle
        .row.justify-content-center
            each object in content.teamList
                +b.team-item.col-12.col-md-6.col-lg-3
                    +e.image
                        +e.IMG.avatar(src= object['src'] alt= object['alt'])
                    +e.name= object['name']
                    +e.position= object['position']
                    +e.description= object['description']
                    +b.UL.team-social
                        each object in content.teamSocialList
                            +e.LI.social-item
                                +e.A.link(href= object['href'])
                                    +icon("team-social__icon", object['iconName'])