+b.SECTION.testimonial
    .container
        .row
            +b.H1.h1.col-12 Stats & Testimonial
            +b.H2.h2_gray.col-12 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        .row.justify-content-center
            +b.testimonial-item.col-6.col-lg-2
                +e.image
                    +icon("testimonial-item__icon","products")
                +e.count 20
                +e.description Products
            +b.testimonial-item.col-6.col-lg-2
                +e.image
                    +icon("testimonial-item__icon","downloads")
                +e.count 120,000
                +e.description Downloads
            +b.testimonial-item.col-6.col-lg-2
                +e.image
                    +icon("testimonial-item__icon","customers")
                +e.count 1220
                +e.description Customers
            +b.testimonial-item.col-6.col-lg-2
                +e.image
                    +icon("testimonial-item__icon","like")
                +e.count 900
                +e.description Like