+b.SECTION.testimonial
    .container
        .row
            +b.H1.h1.col-12= content.testimonialInfo.title
            +b.H2.h2_gray.col-12= content.testimonialInfo.subtitle
        .row.justify-content-center
            each object in content.testimonialList
                +b.testimonial-item.col-6.col-lg-2
                    +e.image
                        +icon("testimonial-item__icon", object['iconName'])
                    +e.count= object['count']
                    +e.description= object['description']
        .row
            each object in content.commentInfo
                +b.comment.col-12.m-auto.col-lg-7
                    +e.image
                        +e.IMG.avatar(src= object['src'] alt= object['alt'])
                    +e.name= object['name']
                    +e.decription= object['description']
                    +b.quote= object['quote']
                        +e.left
                            +icon("quote__left-icon", object['leftIconName'])
                        +e.right
                            +icon("quote__right-icon", object['rightIconName'])
