+b.SECTION.works
    .container
        .row
            +b.H1.h1.col-12= content.worksInfo.title
            +b.H2.h2_gray.col-12= content.worksInfo.subtitle
        .row
            each object in content.worksList
                +b.ARTICLE.works-item.col-12.col-md-6.col-lg-3
                    +e.image
                        +e.IMG.miniature(src= object['src'] alt="Work1")
                        +b.work-options
                            +e.views
                                +icon("work-options__views-icon", object['viewIconName'])
                                +e.count-views= object['countViews']
                            +e.date
                                +e.current-date= object['currentDate']
                                +icon("work-options__date-icon", object["dateIconName"])
                    +e.A.title(href= object['href'])= object['title']
                    +e.category= object['category']

